body.main {
  background-color: #333;
}


html, body, #sidebar, #chatroom {
  height: 100%;
}

#sidebar {
  background: #ddd;
}

.chat {
  height: 80%;
  overflow-y: scroll;
}

.message {
  position: absolute;
  bottom: 20px;
}
