<div id="sidebar" class="col-lg-3 col-sm-1">
  <div class="header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default pull-right glyphicon glyphicon-plus"  ng-click="addNew()"></button>
      </div>
    </div>
    <h1><span class="accent">Bloc</span>Chat</h1>
  </div>
  <div class="roomslist">
    <ul>
      <li ng-repeat="room in rooms | orderBy: '$value'" ng-click="setActiveRoom(room)" ng-class="{ active: room == activeRoom }">
        {{ room.$value }}
      </li>
    </ul>
  </div>
</div>
<div id="chatroom" class="col-md-9">
  <div class="header">
    <h3 id="chatroom-name">{{ activeRoom.$value }}</h3>
  </div>
  <div class="chat" scroll-glue>
    <div class="chat-message row" ng-repeat="message in messages | orderBy: 'sentAt'">
      <p class="chat-author">{{ message.username }}</p>
      <p class="chat-time">{{ message.sentAt | date: 'medium' }}</p>
      <p class="chat-text">{{ message.content }}</p>
    </div>
  </div>
  <div class="message">
   <form name="input.Message" class="input-group input-group-lg" ng-submit="sendMessage()">
     <input type="text" autocomplete="off" class="form-control" name="message" placeholder="Type message here..." ng-model="messageContent" ng-minlength="1" ng-maxlength="250" ng-required="true" />
     <span class="input-group-btn">
       <button type="submit" class="btn btn-default">
         Send
       </button>
     </span>
   </form>
 </div>
</div>
